<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration >
    <settings>
        <!--使用jdbc的generatedkeys获取数据自增主键值-->
        <setting name="userGeneratedKeys" value="true"/>
        <!--使用类标签替换列别名 默认为true-->
        <setting name="userColumLabel" value="true"/>
        <!--开启驼峰命名转换:Table(create_time)->Entity(createTime)-->
        <setting name="mpUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>